.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: #fff;
  }

  &--testimoials {
    background-color: #e0e6ef;

    @mixin atLarge {
      &.lazyloaded {
        background-image: url('/assets/images/testimonials-bg.jpg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &--no-b-paddng-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-paddng-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }
}
